<h1>Site::Welcome#index</h1>
<p>Find me in app/views/site/welcome/index.html.erb</p>

<% if user_signed_in? %>
    <p> Usuário está logado / <%= current_user.email %></p>
    
<% else %>
    <p> Usuário não está logado </p>
<% end %>

<% if admin_signed_in? %>
    <p> Admin está logado / <%= current_admin.email %> </p>
<% else %>
    <p> Admin não está logado </p>
<% end %>

<%= link_to admins_backoffice_welcome_index_path, class:"nav-link" do %>
    <p>
        <i class="fas fa-fw fa-file-text-o"></i> Login Admin
    </p>
<% end %>

<%= link_to users_backoffice_welcome_index_path, class:"nav-link" do %>
    <p>
        <i class="fas fa-fw fa-file-text-o"></i> Login User
    </p>
<% end %>