<div class="mt-2 p-5 bg-light border rounded-3">
    <h1><%= t('new.mining_type') %></h1>
    <%= render 'form', mining_type: @mining_type %>

    <br>

    <%= link_to t('links.back'), mining_types_path, class:"btn btn-secondary" %>
</div>