<div class="mt-2 p-5 bg-light border rounded-3">
    <h1><%= t('editing.coin') %></h1>

    <%= render 'form', coin: @coin %>
    <br>
    <%= link_to t('links.details'), @coin, class:"btn btn-primary" %>
</div>